/* section--customized.scss */

@use "../base" as *;
@use "../components" as *;

.section--customized {
    height: 814px;
    background-color: $color-gray-light;

    @include mobile {
        height: 1126px;
    }
}