/* section--hero.scss */

@use "../base" as *;
@use "../components" as *;

.section--hero {
    background-color: $color-black;
    padding: 60px 0;

    @include mobile {
        padding: 48x 0;
    }

    &__content {
        max-width: 1296px;
        width: 100%;
        height: 514px;
        margin: 0 auto;
        position: relative;
        display: flex;
        align-items: center;
        background-image: url(../img/hero.png);
        background-repeat: no-repeat;

        @include mobile {
            margin-left: 100px;
        }
    }

    &__text {
        max-width: 636px;
        width: 100%;
        position: absolute;
        right: 0px;
        z-index: 3;
        display: flex;
        flex-direction: column;
        gap: 16px;

        @include mobile {
            bottom: 0px;
            left: -100px;
            padding: 0 12px;
        }
    }

    &__title {
        color: $color-white;
        margin: 0;
        font: 500 40px/120% $font-primary;
    }

    &__description {
        display: flex;
        flex-direction: column;
        gap: 3px;

        p {
            color: $color-white;
            font: 400 16px/150% $font-primary;
        }
    }
}