/* section--style.scss */

@use "../base" as *;
@use "../components" as *;

.section--style {
    background-color: $color-black;
    padding: 60px 0;
    display: flex;
    flex-direction: column;
    gap: 48px;

    @include mobile {
        background-image: url("../img/bg-style.png");
        background-size: 100% 100%;
        padding: 60px 12px;
    }

    &__title {
        color: $color-white;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 8px;

        h2 {
            font: 500 32px/120% $font-primary;
        }

        p {
            font: 400 16px/120% $font-primary;
        }
    }

    &__image-wrapper {
        display: flex;
        gap: 24px;
        margin: 0 auto;
        overflow: hidden;

        &-4-3 {
            max-width: 1076px;
            width: 100%;

            @include mobile {
                flex-direction: column;
            }
        }

        &-3-1 {
            max-width: 636px;
            width: 100%;
            flex-direction: column;
        }

        &-3 {
            max-width: 636px;
            width: 100%;
            max-height: 376px;
            height: 100%;

            @include mobile {
                max-width: none;
                max-height: none;
            }
        }

        &-1-2 {
            max-width: 636px;
            width: 100%;

            @include mobile {
                flex-direction: column;
            }
        }

        &-2 {
            max-width: 306px;
            width: 100%;
            max-height: 306px;
            height: 100%;

            @include mobile {
                max-width: none;
                max-height: none;
            }
        }

        &-1-1 {
            max-width: 306px;
            width: 100%;
            flex-direction: column;

            @include mobile {
                max-width: none;
            }
        }

        &-1-1-1 {
            max-width: 416px;
            width: 100%;
            max-height: 704px;
            height: 100%;
            flex-direction: column;

            @include mobile {
                max-width: none;
                max-height: none;
            }
        }

        &-1 {
            max-width: 416px;
            width: 100%;
            max-height: 218px;
            height: 100%;

            @include mobile {
                max-width: none;
                max-height: none;
            }
        }
    }

    &__image {
        &-1 {
            width: 100%;
            aspect-ratio: 1 / 1;
            object-fit: cover;
            display: block;

            @include mobile {
                max-width: none;
                aspect-ratio: 3 / 2;
            }
        }

        &-2,
        &-3 {
            width: 100%;
            aspect-ratio: 306 / 141;
            object-fit: cover;
            display: block;

            @include mobile {
                max-width: none;
                aspect-ratio: 3 / 2;
            }
        }

        &-4 {
            width: 100%;
            aspect-ratio: 636 / 376;
            object-fit: cover;
            display: block;

            @include mobile {
                max-width: none;
                aspect-ratio: 3 / 2;
            }
        }

        &-5,
        &-6,
        &-7 {
            width: 100%;
            aspect-ratio: 416 / 219;
            object-fit: cover;
            display: block;

            @include mobile {
                max-width: none;
                aspect-ratio: 3 / 2;
            }
        }
    }
}