/* section--style.scss */

@use "../base" as *;
@use "../components" as *;

.section--style {
    background-color: $color-black;
    padding: 60px 12px;
    display: flex;
    flex-direction: column;
    gap: 48px;

    @include mobile {
        background-image: url("../img/bg-style.png");
        background-size: 100% 100%;
    }

    &__title {
        color: $color-white;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 8px;

        h2 {
            font: 500 32px/120% $font-primary;
        }

        p {
            font: 400 16px/120% $font-primary;
        }
    }

    &__grid {
        max-width: 1076px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        grid-template-rows: repeat(9, 1fr);
        gap: 24px;
        grid-template-areas:
            "a a a b b b e e e e"
            "a a a b b b e e e e"
            "a a a c c c e e e e"
            "a a a c c c f f f f"
            "d d d d d d f f f f"
            "d d d d d d f f f f"
            "d d d d d d g g g g"
            "d d d d d d g g g g"
            "d d d d d d g g g g";

        @include mobile {
            grid-template-columns: 1fr;
            grid-template-rows: repeat(7, 1fr);
            grid-template-areas:
                "a"
                "b"
                "c"
                "d"
                "e"
                "f"
                "g";
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            display: block;

            @include mobile {
                aspect-ratio: 351 / 202;
            }
        }
    }

    &__image {
        &-1 {
            aspect-ratio: 1/1;
            grid-area: a;
        }

        &-2 {
            aspect-ratio: 306 / 141;
            grid-area: b;
        }

        &-3 {
            aspect-ratio: 306 / 141;
            grid-area: c;
        }

        &-4 {
            aspect-ratio: 636 / 377;
            grid-area: d;
        }

        &-5 {
            aspect-ratio: 416 / 218;
            grid-area: e;
        }

        &-6 {
            aspect-ratio: 416 / 218;
            grid-area: f;
        }

        &-7 {
            aspect-ratio: 416 / 218;
            grid-area: g;
        }
    }
}