/* section--hero.scss */

@use "../base" as *;
@use "../components" as *;

.section--hero {
    background-color: $color-black;
    padding: 60px 0;

    @include mobile {
        height: 610px;
        padding: 48x 0;
    }

    &__content {
        max-width: 1296px;
        width: 100%;
        height: 514px;
        margin: 0 auto;
        position: relative;
        display: flex;
        align-items: center;
    }

    &__image-wrapper {
        width: 100%;
        max-width: 856px;
        overflow: hidden;
        position: absolute;
        left: 0px;
    }

    &__image {
        width: 100%;
        height: 514px;
        object-fit: cover;
        display: block;
    }

    &__text {
        max-width: 636px;
        width: 100%;
        position: absolute;
        right: 0px;
        z-index: 3;
        display: flex;
        flex-direction: column;
        gap: 16px;

        @include mobile {
            bottom: 0px;
        }
    }

    &__title {
        color: $color-white;
        margin: 0;
        font: 500 40px/120% $font-primary;
    }

    &__description {
        display: flex;
        flex-direction: column;
        gap: 3px;

        p {
            color: $color-white;
            font: 400 16px/150% $font-primary;
        }
    }
}