/* section--customized.scss */

@use "../base" as *;
@use "../components" as *;

.section--customized {
    background-color: $color-gray-light;
    padding: 65px 12px;

    &__content {
        max-width: 1296px;
        width: 100%;
        margin: 0 auto;
        display: flex;
        gap: 24px;
        align-items: center;
        justify-content: center;

        @include mobile {
            flex-direction: column-reverse;
        }
    }

    &__wrapper {
        max-width: 636px;
        width: 100%;
        display: flex;
        gap: 24px;

        @include mobile {
            gap: 16px;
        }
    }

    &__image-wrapper {
        max-width: 306px;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 24px;

        @include mobile {
            gap: 16px;
        }

        &:nth-child(1) {
            padding-top: 48px;
        }
    }

    &__image {
        width: 100%;
        aspect-ratio: 1 / 1;
        object-fit: cover;
        display: block;
    }

    &__form {
        max-width: 636px;
        width: 100%;
        max-height: 674px;
        height: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 48px;

        &-title {
            color: $color-white;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 24px;

            h2 {
                font: 500 32px/120% $font-primary;
                text-align: center;
            }

            p {
                font: 400 16px/150% $font-primary;
            }
        }
    }

    &__fieldset {
        display: flex;
        flex-direction: column;
        gap: 24px;
        padding: 0;
        border: none;
    }

    &__field {
        display: flex;
        flex-direction: column;
        gap: 4px;

        &--lg {
            @include mobile {
                display: none;
            }
        }

        &--sm {
            display: none;

            @include mobile {
                display: block;
            }
        }
    }

    &__label {
        color: $color-white;
        font: 400 16px/150% $font-primary;
    }

    &__input {
        width: 100%;
        height: 56px;
        padding: 16px 12px;
        background-color: transparent;
        border: 1.5px solid $color-white;
        border-radius: 4px;
        color: #ACACAC;

        @include mobile {
            color: $color-white;
        }

        &::placeholder {
            color: #ACACAC;

            @include mobile {
                color: $color-white;
            }
        }
    }

    &__button {
        width: 88px;
        height: 36px;
        cursor: pointer;
        align-self: flex-end;
        background-color: $color-white;
        border: none;
        border-radius: 4px;

        &:hover {
            background-color: $color-black;
            color: $color-white;
        }

        @include mobile {
            width: 100%;
            height: 56px;
        }
    }
}