/* footer.scss */

@use "../base" as *;
@use "../components" as *;

.footer {
    background-color: $color-black;
    color: $color-white;
    padding: 60px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;

    @include mobile {
        align-items: flex-start;
        padding: 60px 12px;
    }

    &__wrapper {
        max-width: 1296px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: 1;

        @include mobile {
            align-items: flex-start;
            gap: 24px;
        }
    }

    &__socials {
        width: 152px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex: 1;
    }

    &__line {
        @include mobile {
            display: none;
        }
    }

    &__content {
        width: 100%;
        height: 24px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex: 1;

        @include mobile {
            flex-direction: column;
            align-items: flex-start;
            gap: 40px;
        }
    }

    &__links {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 24px;
    }

    &__link {
        @include link--neutral;

        p {
            color: $color-white;
            font: 400 16px/150% $font-primary;
        }
    }

    &__copyright {

        p {
            color: $color-white;
            font: 400 16px/150% $font-primary;
        }
    }
}