/* variable.scss */

// 色彩系統
$color-white: #FFFFFF;
$color-primary: #000000;
$color-linear-gradient: linear-gradient(120deg, #000000, #404040, #191919);

// 字體設定
$font-primary: 'Noto Sans TC', sans-serif;